.loginBox {
    height: 94%;
    width: 40%;
    background-color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;    
    position : fixed;    
    right    : 0px;
}

.loginBackground {    
    background-image: url('https://res.cloudinary.com/dyc4xxmdw/image/upload/v1659900925/YManager/login_picture_j85vdg.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
}

.loginLogo {
    text-align: center;
    color:darkslategray;
    font-size: 30px;
}

