.loginBox {
    height: 94%;
    width: 40%;
    background-color: aliceblue;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;    
    position : fixed;    
    right    : 0px;
}

.loginBackground {    
    background-image: url('https://res.cloudinary.com/dyc4xxmdw/image/upload/v1659900925/YManager/login_picture_j85vdg.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
}

.loginLogo {
    text-align: center;
    color:darkslategray;
    font-size: 30px;
}

.profileBackground {
    width: 100%;
    height: 300px;    
    min-width: 500px;
    padding: 0;
}

.backgroundImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileBasicInfo {
    width: 100%;
    height: 200px;
    min-width: 500px;
    padding:0;
    background-color: aquamarine;    
}

.name {
    width: 200px;
    height: 50px;
    background-color: bisque;
    top: 350px;
    left: 40px;       
}

.email {   
    height: 30px;
    background-color: azure;
    top: 410px;
    left: 40px;
}

.phone {
    height: 30px;
    top: 445px;
    left: 40px;
}

.profileAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
    top: 150px;    
    left: 40px;
    overflow: hidden;
    display: flex; 
    align-items: center; 
    justify-content: center;
    vertical-align: middle;   
}

.avatar {
    width: 380px;
    clip-path: circle();  
    object-fit: cover;  
    padding: 5%;
}

.experience {
    width: 100%;
    height: 400px;
    background-color: aquamarine;
    padding: 0;
}

.education {
    height: 300px;
    background-color: blue;
    padding: 0;
}

.certificate {
    height: 300px;
    background-color: azure;
    padding: 0;
}

.miniAvatarContainer {
    width: 40px;
    height: 40px;   
    border-radius: 50%;
    background-color: aqua;    
    overflow: hidden;
    display: flex; 
    align-items: center; 
    justify-content: center;
    vertical-align: middle;
}

.miniAvatar {
    width: 80px;
    clip-path: circle();  
    object-fit: cover;  
    padding: 5%;

}

.jobList {
    margin-top: 30px;
    background-color: aqua;
}
.Job {
    margin-top: 10px;
    background-color: aliceblue;
}

.profileAbout {
    padding: 0;
}

.companyLogoContainer {
    height: 100px;
    width: 150px;
}

.companyLogo {
    height: 100%;
    width: 100%;
}

.recruiter {
    top: 10px;
    left: 170px;
    font-weight: bold;
}

.shortDescription {
    top: 40px;
    left: 170px;
}

.income {
    top: 70px;
    left: 170px;
}