<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>YManager | Homepage</title>
</head>

<body>
    <div>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">YManager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Message</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notification</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </form>

                    <div class="container miniAvatarContainer">
                        <img class="miniAvatar"
                            src="https://res.cloudinary.com/dyc4xxmdw/image/upload/v1660151755/YManager/Uwu_lsiwke.jpg">
                    </div>

                </div>

            </div>
        </nav>
    </div>
    <div class = "container jobList">
        <div class = "Job position-relative">
            <div class = "companyLogoContainer">
                <img class = "companyLogo" src = "https://res.cloudinary.com/dyc4xxmdw/image/upload/v1660246766/YManager/Viettel_logo_2021_k6seho.svg">
            </div>
            <div class = "recruiter position-absolute"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
            <div class = "shortDescription position-absolute">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sequi eligendi cum incidunt,
            </div>
            <div class = "income position-absolute">
                10m-60m
            </div>
        </div>
        <div class = "Job">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sequi eligendi cum incidunt, deleniti aliquam pariatur! Cum hic explicabo accusamus blanditiis, vero iste provident recusandae commodi nisi deserunt! Incidunt, minus!</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>