<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YManager | Signup</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body class="d-flex flex-column vh-100 loginBackground">




  <div class="loginBox">
    <div class="loginLogo mb-3">
      <p>YManager</p>
    </div>
    <div class="mb-3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione ullam
      numquam ut ad, atque tempore, veritatis obcaecati fugiat reiciendis eos
      harum dicta fuga rem voluptatibus ducimus nihil aspernatur odio. Repudiandae.
    </div>
    <div class="mb-5">
      Join now for free skin!
    </div>
    <form action='/'>
      <div class="mb-3">
        <label for="firstName" class="form-label">Firstname</label>
        <input type="text" class="form-control" id="firstName">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Lastname</label>
        <input type="text" class="form-control" id="lastName">
      </div>
      <div class="mt-3 mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div><button type="submit" class="btn btn-primary mb-3 mt-4 btn-lg btn-block">Signup</button></div>
      <span id="emailHelp" class="mt-3 mb-3 mr-5">Already have an account?</span>
      <span><button formaction="\login" class="btn btn-success mb-3 mt-3 btn-lg" style="width:30%">Login</button></span>
    </form>
   

  </div>


  <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
      <span class="text-muted">&copy; Yumiko</span>
      <span class="text-muted">&copy; yumiko.stl@gmail.com</span>
      <span class="text-muted">&copy; Yumiko</span>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
</body>

</html>